<!DOCTYPE html>
<html>
<head> 
  
  <% include partials/head.ejs %>

  <style>
    #loader
    {
      width:100px;
      display:none;
    }
    #image_id
    {
      display:none;
    }    
  </style>

</head>
<body>
    
<!-- Page Content -->
<main role="main" class="container-fluid">

    
    <form action="/upload" enctype="multipart/form-data" method="post">        
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="p-2"><h1>Bear Classifier</h1></div>
            <div class="p-2"><p class="lead">A simple bear classifier built using fastai model</p></div>        
            <div class="form-group">
                <input type='file' name="file-to-upload" class="form-control-file border py-2" onchange="readURL(this);" />                
            </div>            
            <button type="submit" class="btn btn-primary">Submit</button>
            <div id="result_id" class="p-2"><p class="lead"><%= typeof msg != 'undefined' ? msg : '' %></p></div>                    
            <img id="image_id" class="img-fluid py-2" alt="your image" />
            <img id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">            
        </div>
    </form>

</main>

<% include partials/jsincludes.ejs %>

</body>
</html>
